.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slideshow-container video {
  max-width: 500px;
  height: auto;
  margin: 3em 0 0em;
  border-radius: 4px;
}

.slideshow-container img {
  max-width: 500px;
  height: auto;
  margin: 3em 0 0em;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.back,
.forward {
  display: flex;
  cursor: pointer;
  position: absolute;
  width: auto;
  top: 50%;
  margin-top: -22px;
  padding: 8px;
  color: var(--secondary);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 4px;
  user-select: none;
  align-items: center;
}

/* Position the "next button" to the right */
.forward {
  right: 0;
  border-radius: 3px 0 0 3px;
  background-color: #cb6be6;
  height: 5%;
}

.back {
  left: 0;
  border-radius: 3px 0 0 3px;
  background-color: #034bb0;
  height: 5%;
}

/* On hover, add a black background color with a little bit see-through */
.back:hover,
.forward:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--secondary);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px 3em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.current,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .slideshow-container video {
    max-width: 320px;
    height: auto;
    margin: 3em 0 0em;
    border-radius: 4px;
  }

  .slideshow-container img {
    max-width: 320px;
    height: auto;
    margin: 3em 0 0em;
  }
}
