:root {
  --primary: #282c34;
  --secondary: #ebb061;
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  box-sizing: border-box;
}

.appHeader {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.appHeaderText {
  color: var(--secondary);
  font-weight: 500;
}

body {
  margin: 0;
  background-color: var(--secondary);
}

.topNav {
  padding: 0 1em;
}

.headliner {
  font-size: 2em;
  color: var(--primary);
  text-decoration: none;
  margin-left: 1em;
}

.headliner h1 {
  font-weight: 300;
}

.aboveFold {
  display: flex;
  align-items: center;
  padding: 1em;
  background-color: var(--primary);
  color: var(--secondary);
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.aboveFoldWords {
  max-width: 1000px;
  height: auto;
  display: block;
  padding: 0 1em;
}

.aboveFoldWords h3 {
  font-size: 3em;
  margin: 0.5em 0;
}

.aboveFoldWords p {
  font-size: 1.5em;
  margin: 0.5em 0;
}

.aboveFoldWords a {
  text-decoration: none;
  margin-right: 1em;
}

.aboveFoldWords button {
  background-color: var(--secondary);
  border: none;
  border-radius: 4px;
  padding: 0.5em 1em;
  font-size: 1.5em;
  margin: 0.5em 0;
  cursor: pointer;
}

.aboveFoldWords button:hover {
  /* background-color: #618feb; */
  color: white;
  border: var(--primary);
}

.homeImg {
  display: flex;
  height: 40em;
  align-items: center;
  margin-right: 4em;
  margin: 0 auto;
}

.homeSplashImages {
  display: block;
  max-width: 350px;
  height: auto;
  border-radius: 4px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 135px;
}

header img {
  width: 100px;
  height: 100px;
  margin: 1em;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 135px;
  background-color: var(--secondary);
  color: var(--primary);
}

footer a {
  text-decoration: none;
  color: var(--primary);
}

.hamburger {
  width: 2.5em;
  height: 2.5em;
  margin-right: 1em;
}

.mobileNav {
  display: none;
  position: absolute;
  top: 155px;
  right: 0;
  background-color: var(--secondary);
  width: 100%;
  height: 90%;
  z-index: 1;
}

.visible {
  display: block !important;
}

.hidden {
  display: none;
}

.routes {
  align-items: center;
  display: flex;
  text-align: center;
}

.mobileRoutes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  font-size: 20px;
  text-decoration: none;
  color: var(--primary);
}

.route {
  color: var(--primary);
  padding: 0.5em;
  margin: 0 1em;
  border-right: var(--secondary) 2px solid;
  border-left: var(--secondary) 2px solid;
  /* border-top: var(--secondary) 2px solid; */
  text-decoration: none;
  font-size: 20px;
}

.routeContainer {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  align-items: center;
}

.routeContainer:hover {
  .route {
    border: var(--primary) 2px solid;
    border-radius: 4px 4px 0 0;
  }

  .aboutDropdown {
    display: block;
    margin-top: 10px;
    left: 20px;
  }

  svg {
    transform: rotate(180deg);
    content: " ";
  }
}

.aboutDropdown {
  position: absolute;
  display: none;
  width: 117px;
  border: var(--primary) 2px solid;
  font-size: 20px;
  border-radius: 0 0 4px 4px;
  z-index: 1;
}

.aboutDropdown a {
  color: var(--primary);
  background-color: var(--secondary);
  text-decoration: none;
  display: block;
  border: none;
  text-align: start;
  padding: 8px 0 8px 10px;
}

.aboutDropdown a:hover {
  background-color: var(--primary);
  color: var(--secondary);
  font-weight: 1000;
}

.active {
  border: 2px solid var(--primary);
  border-radius: 4px;
}

#founderSection > div {
  display: flex;
  align-items: center;
  justify-content: space-around;

  img {
    width: 318px;
    height: 227px;
    /* border-radius: 50%; */
    /* margin: 0.5em 0; */
  }
}

#founderSection > div > div {
  max-width: 1000px;
  padding: 1.5em 1em;
  margin: 0.5em 0;
}

#founderSection a {
  background-color: var(--secondary);
  color: var(--primary);
  border: none;
  border-radius: 4px;
  padding: 0.25em 0.5em;
  font-size: 1.5em;
  margin: 0.5em 0;
  cursor: pointer;
  text-decoration: none;
}

#founderSection > div:nth-last-child(-n + 2) {
  background-color: var(--primary);
  color: var(--secondary);
}

#founderSection > div:nth-last-child(-n + 2) a {
  background-color: var(--secondary);
  color: var(--primary);
  border: none;
  border-radius: 4px;
  padding: 0.25em 0.5em;
  margin: 0.5em 0;
  cursor: pointer;
}

#about-page {
  position: relative;
  margin: auto;
  font-size: 1.5em;
  color: var(--primary);
  text-align: center;
  border-top: var(--primary) 4px solid;

  #together {
    margin-top: 1em;
    width: 100%;
    max-width: 1000px;
    margin-bottom: -7px;
  }
}

#about-page a {
  text-decoration: none;
}

.aboutDesc {
  background-color: var(--primary);
  p {
    margin: 0 auto;
    max-width: 1000px;
    background-color: var(--primary);
    color: var(--secondary);
    padding: 2em 2em 1em;
  }
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  color: var(--secondary);
  background-color: var(--primary);
  font-weight: bold;
  font-size: 18px;
  /* border-radius: 0 3px 3px 0; */
  user-select: none;
  z-index: 1;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

.prev {
  left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

@media screen and (max-width: 1414px) {
  .homePage {
    .aboveFold {
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    #founderSection > div {
      text-align: center;
      align-items: center;
    }
  }
}

@media screen and (max-width: 1200px) {
  #founderSection > div > img {
    display: none;
  }

  .headliner {
    content: url("../src/images/mainLogo.png");
    width: 100px;
    height: 100px;
    margin: 1em;
  }
}

@media screen and (max-width: 860px) {
  .active {
    border: none;
  }

  .headliner {
    font-size: 1em;
  }
}
